<section class="navigation">
    <img
      src="assets/icons/logo/img_f/logo@1x.jpg"
      srcset="
        assets/icons/logo/img_f/logo@2x.jpg 2x,
        assets/icons/logo/img_f/logo@3x.jpg 3x"
      witdh="250"
      height="100"
      alt="Logo Lason"
      class="logo">
    <nav class="navigation__menu">
      <menu-component></menu-component>
    </nav>
    <div class="navigation__account">
      <button-component classList="button button_white navigation__button" text="Sign Up"></button-component>
      <button-component classList="button button_blue navigation__button" text="Log In"></button-component>
    </div>
  </section>