<section class="descriptions">
    <list-text-image-component
        itemHeader="Analyse effortlessly. Act intentionally"
        itemText="We create report with an easy to use and making great decisions for business."
        classList="list-text-image_odd">
        <div class="list-image_down">
            <img
                src="assets/descriptions/img_f/description_2@1x.jpg" 
                srcset="
                assets/descriptions/photo/img_f/description_2@2x.jpg 2x,
                assets/descriptions/photo/img_f/description_2@3x.jpg 3x"
                alt="Monthly Report"
                width="360"
                height="216"
                class="image image_scale">
        </div>
        <div class="list-image_up">
            <img
                src="assets/descriptions/img_f/description_1@1x.jpg" 
                srcset="
                assets/descriptions/photo/img_f/description_1@2x.jpg 2x,
                assets/descriptions/photo/img_f/description_1@3x.jpg 3x"
                alt="Feedback Tracker"
                width="287"
                height="102"
                class="image image_scale">
        </div>
    </list-text-image-component>
    <list-text-image-component
        itemHeader="Analyse effortlessly. Act intentionally"
        itemText="We create report with an easy to use and making great decisions for business."
        classList="list-text-image_even">
        <div class="list-image_down">
            <img
                src="assets/descriptions/img_f/description_4@1x.jpg" 
                srcset="
                assets/descriptions/photo/img_f/description_4@2x.jpg 2x,
                assets/descriptions/photo/img_f/description_4@3x.jpg 3x"
                alt="Monthly Report"
                width="266"
                height="233"
                class="image image_scale">
        </div>
        <div class="list-image_up">
            <img
                src="assets/descriptions/img_f/description_3@1x.jpg" 
                srcset="
                assets/descriptions/photo/img_f/description_3@2x.jpg 2x,
                assets/descriptions/photo/img_f/description_3@3x.jpg 3x"
                alt="Feedback Tracker"
                width="160"
                height="187"
                class="image image_scale">
        </div>
    </list-text-image-component>
    <list-text-image-component
        itemHeader="Analyse effortlessly. Act intentionally"
        itemText="We create report with an easy to use and making great decisions for business."
        classList="list-text-image_odd">
        <div class="list-image_down">
            <img
                src="assets/descriptions/img_f/description_5@1x.jpg" 
                srcset="
                assets/descriptions/photo/img_f/description_5@2x.jpg 2x,
                assets/descriptions/photo/img_f/description_5@3x.jpg 3x"
                alt="Monthly Report"
                width="367"
                height="213"
                class="image image_scale">
        </div>
        <div class="list-image_up">
            <img
                src="assets/descriptions/img_f/description_6@1x.jpg" 
                srcset="
                assets/descriptions/photo/img_f/description_6@2x.jpg 2x,
                assets/descriptions/photo/img_f/description_6@3x.jpg 3x"
                alt="Feedback Tracker"
                width="366"
                height="97"
                class="image image_scale">
        </div>
    </list-text-image-component>
</section>