<section class="partners">
    <h4 class="partners__header">More than 2000+ companies trusted us and colaborate with us</h4>
    <div class="line-elements">
        <div class="line-elements__element">
            <img
                src="assets/icons/links/png_f/tracea@1x.png" 
                srcset="
                    assets/icons/links/png_f/tracea@2x.png 2x,
                    assets/icons/links/png_f/tracea@3x.png 3x" 
                alt=""
                width="104"
                height="28"
                class="line-elements__logo">
        </div>
        
        <div class="line-elements__element">
            <img
                src="assets/icons/links/png_f/cactusc@1x.png" 
                srcset="
                    assets/icons/links/png_f/cactusc@2x.png 2x,
                    assets/icons/links/png_f/cactusc@3x.png 3x" 
                alt=""
                width="104"
                height="28" 
                class="line-elements__logo">
        </div>
            
        <div class="line-elements__element">
            <img
                src="assets/icons/links/png_f/nextmov@1x.png" 
                srcset="
                    assets/icons/links/png_f/nextmov@2x.png 2x,
                    assets/icons/links/png_f/nextmov@3x.png 3x" 
                alt=""
                width="104"
                height="28" 
                class="line-elements__logo">
        </div>
            
        <div class="line-elements__element">
            <img
                src="assets/icons/links/png_f/greenish@1x.png" 
                srcset="
                    assets/icons/links/png_f/greenish@2x.png 2x,
                    assets/icons/links/png_f/greenish@3x.png 3x" 
                alt=""
                width="104"
                height="28" 
                class="line-elements__logo">
        </div>
            
        <div class="line-elements__element">
            <img
                src="assets/icons/links/png_f/levelupe@1x.png" 
                srcset="
                    assets/icons/links/png_f/levelupe@2x.png 2x,
                    assets/icons/links/png_f/levelupe@3x.png 3x" 
                alt=""
                width="104"
                height="28" 
                class="line-elements__logo">
        </div>
            
        <div class="line-elements__element">
            <img
                src="assets/icons/links/png_f/scalea@1x.png" 
                srcset="
                    assets/icons/links/png_f/scalea@2x.png 2x,
                    assets/icons/links/png_f/scalea@3x.png 3x" 
                alt=""
                width="104"
                height="28" 
                class="line-elements__logo">
        </div>
    </div>
</section>
