<section class="banner">
    <div class="banner__text-container">
        <h1 class="banner__header">Changing life by changing the software</h1>
        <p class="banner__subtitle">Our innovative product is designed to simplify your workflow and boost your productivity. With our user&#8209;friendly interface, you can easily manage your tasks.</p>
    </div>
    <div class="banner__button-container">
        <button-component classList="button button_blue banner__button" text="Get Started"></button-component>
        <button-get-demo-component></button-get-demo-component>
    </div>
    <div class="line-elements">
        <div class="line-elements__element">
            <p class="line-elements__header">45K+</p>
            <p class="line-elements__text">Satisfied users&nbsp;globally</p>
        </div>
        <div class="line-elements__element">
            <p class="line-elements__header">17%</p>
            <p class="line-elements__text">Beneficial Cashback</p>
        </div>
    </div>
    <div class="banner__image-container">
        <img
            src="assets/banner/photo/img_f/banner_1@1x.jpg" 
            srcset="
                assets/banner/photo/img_f/banner_1@2x.jpg 2x,
                assets/banner/photo/img_f/banner_1@3x.jpg 3x"
            alt="Round circle" 
            class="image image_round image_shadow banner__image" 
            width="160" 
            height="187">
        <img
            src="assets/banner/photo/img_f/banner_2@1x.jpg" 
            srcset="
                assets/banner/photo/img_f/banner_2@2x.jpg 2x,
                assets/banner/photo/img_f/banner_2@3x.jpg 3x" 
            alt="Customers amount" 
            class="image image_round image_shadow banner__image" 
            width="234" 
            height="118">
        <img 
            src="assets/banner/photo/img_f/banner_4@1x.jpg" 
            srcset="
                assets/banner/photo/img_f/banner_4@2x.jpg 2x,
                assets/banner/photo/img_f/banner_4@3x.jpg 3x"
            alt="Review of your payout" 
            class="image image_round image_shadow banner__image" 
            width="200" 
            height="137">
        <img
            src="assets/banner/photo/img_f/banner_3@1x.jpg" 
            srcset="
                assets/banner/photo/img_f/banner_3@2x.jpg 2x,
                assets/banner/photo/img_f/banner_3@3x.jpg 3x" 
            alt="Activity diagramm" 
            class="image image_round image_shadow banner__image" 
            width="279" 
            height="249">
        <img 
            src="assets/banner/photo/img_f/banner_5@1x.jpg" 
            srcset="
                assets/banner/photo/img_f/banner_5@2x.jpg 2x,
                assets/banner/photo/img_f/banner_5@3x.jpg 3x"
            alt="Graphics of your asset" 
            class="image image_round image_shadow banner__image" 
            width="266" 
            height="233"> 
    </div>
</section>